/* Reset and base styles */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 80;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  color: green;
}

main {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
    width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  align-items: flex-end;
}

@media (max-width:564px){

}